@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-roboto);
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  padding: 15px 60px;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: #111;
  color: #eee;
  border-radius: 5px;
  transition: background 500ms ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #000;
}

.headline {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 2px;
}

/* Navbar */
#navbar {
  width: 100%;
  background-color: #111;
  color: #eee;
  height: 80px;
  position: fixed;
}

#navbar-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

.navbar-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.navbar-items li {
  padding: 10px;
  transition: 500ms;
}

.navbar-items li:hover {
  opacity: 50%;
}

/* Showcase */
#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  background: url(main/img/showcase.jpg) no-repeat center center/cover;
  /* Overlay */
  background-color: #00000066;
  background-blend-mode: color;
}

#showcase-container {
  text-align: center;
}

#showcase-container h2 {
  font-size: 2.5rem;
}

#showcase-container p {
  font-size: 1.2rem;
  padding: 7px 0;
}

/* Clients */
#clients {
  width: 100%;
  background: #eee;
  color: #111;
  padding: 50px;
}

#clients-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.client {
  display: inline-block;
  width: 10%;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.404));
  cursor: pointer;
}

/* About */
#features {
  width: 100%;
  background: #222;
  color: #eee;
  padding: 50px;
}

#features-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

.feature i {
  font-size: 3.5rem;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

#product {
  width: 100%;
  padding: 50px;
}

#product-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#items {
  width: 650px;
}

.item {
  display: flex;
  padding: 10px;
  margin: 15px 0;
  font-size: 1.2rem;
}

.item i {
  font-size: 3rem;
}

.testimonial {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  background: #333;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
}

#testimonials {
  width: 100%;
  background: #222;
  color: #eee;
  padding: 50px;
}

#testimonials-container {
  width: 80%;
  margin: auto;
  font-display: flex;
  align-items: center;
  flex-direction: column;
}

.testimonial-image {
  height: 200px;
  width: auto;
  border-radius: 50%;
  margin: 15px;
}

#gallery {
  width: 90%;
  margin: auto;
  padding: 50px;
}

#gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
}

.gallery-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.356);
  transform: scale(1);
  transition: 500ms;
}

.gallery-image:hover {
  transform: scale(1.1);
}

#footer {
  background-color: #222;
  color: #eee;
  padding: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  #navbar {
    height: 180px;
  }

  #navbar-container {
    flex-direction: column;
    padding: 20px 0;
  }

  .navbar-items {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar-items li:nth-child(2) {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
  }

  .client {
    width: 18%;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.404));
  }

  #features-container {
    flex-direction: column;
    gap: 10px;
  }

  #product-container {
    flex-direction: column;
  }

  #items {
    width: 90%;
    justify-items: center;
    align-items: center;
  }

  .item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonial {
    flex-direction: column;
  }

  .gallery-image {
    display: inline-block;
    width: 170%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.356);
    transform: scale(1);
    transition: 500ms;
  }

  .gallery-image:nth-child(1):hover {
    transform: scale(3) translateX(35%) translateY(25%);
    z-index: 2;
  }

  .gallery-image:nth-child(2):hover {
    transform: scale(3) translateX(0%) translateY(25%);
    z-index: 2;
  }

  .gallery-image:nth-child(3):hover {
    transform: scale(3) translateX(-34.7%) translateY(25%);
    z-index: 2;
  }

  .gallery-image:nth-child(4):hover {
    transform: scale(3) translateX(35%) translateY(-30%);
    z-index: 2;
  }

  .gallery-image:nth-child(5):hover {
    transform: scale(3) translateX(0%) translateY(-30%);
    z-index: 2;
  }

  .gallery-image:nth-child(6):hover {
    transform: scale(3) translateX(-34.7%) translateY(-30%);
    z-index: 2;
  }
}
